<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatasourceLookup2</servlet-name>
        <servlet-class>com.ppn.servlet.DatasourceLookup2</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InitConfiguration2</servlet-name>
        <servlet-class>com.ppn.servlet.InitConfiguration2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- <servlet>
        <servlet-name>PaymentBank</servlet-name>
        <servlet-class>com.ppn.servlet.PaymentBank</servlet-class>
    </servlet>
-->    <servlet>
        <servlet-name>OnlineMerchant</servlet-name>
        <servlet-class>com.ppn.servlet.OnlineMerchant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineMerchantXML</servlet-name>
        <servlet-class>com.ppn.servlet.OnlineMerchantXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineCustomer</servlet-name>
        <servlet-class>com.ppn.servlet.OnlineCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineDispenda</servlet-name>
        <servlet-class>com.ppn.servlet.OnlineDispenda</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>BillPayment</servlet-name>
        <servlet-class>com.ppn.servlet.BillPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatus</servlet-name>
        <servlet-class>com.ppn.servlet.CheckStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBill</servlet-name>
        <servlet-class>com.ppn.servlet.CreateBill</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>DatasourceLookup2</servlet-name>
        <url-pattern>/DatasourceLookup2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitConfiguration2</servlet-name>
        <url-pattern>/InitConfiguration2</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>PaymentBank</servlet-name>
        <url-pattern>/PaymentBank</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>OnlineMerchant</servlet-name>
        <url-pattern>/OnlineMerchant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineMerchantXML</servlet-name>
        <url-pattern>/OnlineMerchantXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineDispenda</servlet-name>
        <url-pattern>/OnlineDispenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineCustomer</servlet-name>
        <url-pattern>/OnlineCustomer</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>BillPayment</servlet-name>
        <url-pattern>/BillPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatus</servlet-name>
        <url-pattern>/CheckStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBill</servlet-name>
        <url-pattern>/CreateBill</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
