<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatasourceLookup</servlet-name>
        <servlet-class>com.ppn.servlet.DatasourceLookup</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
   
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ppn.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ppn.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>UserYabesServlet</servlet-name>
        <servlet-class>com.ppn.servlet.UserYabesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserYabesServlet</servlet-name>
        <url-pattern>/UserYabesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportyabesServlet</servlet-name>
        <servlet-class>com.ppn.servlet.ReportyabesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportyabesServlet</servlet-name>
        <url-pattern>/ReportyabesServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>merchantServlet</servlet-name>
        <servlet-class>com.ppn.servlet.merchantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>merchantServlet</servlet-name>
        <url-pattern>/merchantServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MonitoringppobtodayServlet</servlet-name>
        <servlet-class>com.ppn.servlet.MonitoringppobtodayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobtodayServlet</servlet-name>
        <url-pattern>/MonitoringppobtodayServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MonitoringppobmonthServlet</servlet-name>
        <servlet-class>com.ppn.servlet.MonitoringppobmonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobmonthServlet</servlet-name>
        <url-pattern>/MonitoringppobmonthServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MonitoringppobyearServlet</servlet-name>
        <servlet-class>com.ppn.servlet.MonitoringppobyearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringppobyearServlet</servlet-name>
        <url-pattern>/MonitoringppobyearServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>addmerchantServlet</servlet-name>
        <servlet-class>com.ppn.servlet.addmerchantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addmerchantServlet</servlet-name>
        <url-pattern>/addmerchantServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CrudmerchantServlet</servlet-name>
        <servlet-class>com.ppn.servlet.CrudmerchantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudmerchantServlet</servlet-name>
        <url-pattern>/CrudmerchantServlet</url-pattern>
    </servlet-mapping>
</web-app>
